.datetime-picker {
    font-family: Arial, sans-serif;
    width: 250px;
  }
  
  .date-picker {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    color: #555;
  }
  
  .react-datepicker {
    font-family: Arial, sans-serif;
  }
  
  .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
    width: auto;
  }
  
  .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
    padding: 8px;
  }
  
  .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item {
    padding: 6px 12px;
  }
  
  .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item:hover {
    background-color: #f0f0f0;
  }
  